</main>

<footer>
  <!-- Step 4 - Add a dynamic year to the footer using JS. -->
  <% const d = new Date(); %>
  <p>Copyright © <%- d.getFullYear() %></p>
  <%#  console.log(d.getFullYear()); %>
</footer>
</body>

</html>